#headerContainer {
  text-align: center;
  margin-top: 2%;
}

#mainContainer {
  padding-top: 4%;
  height: 2400px;
  margin: 0 auto;
  width: 95%;
  background-color: #F5EFED;
}

#mainContainer .graphContainer {
  height: 23%;
  width: 100%;
  background-color: #C0C0C0;

}

#mainContainer .graph-border {
  margin-top: 4%;
}

#mainContainer .graphContainer .graphSize {

}
