h1{
  font-size: 5em !important;
  font-family: 'Amatic SC', cursive !important;
}

h6{
  font-size: 2em !important;
  font-family: 'Amatic SC', cursive !important;
}

body {
  background-color: #D0D0D0 !important;
}

#headerContainer {
  text-align: right;
  margin-top: 2%;
  /* float: left; */
}

#mainContainer {
  padding-top: 4%;
  height: 2400px;
  margin: 0 auto;
  width: 95%;
  /* background-color: #F5EFED; */
}

#mainContainer .graphContainer {
  display: flex;
  height: 23%;
  width: 100%;
  /* background-color: #C0C0C0; */
  border-bottom: 8px solid black;
  margin-bottom: 2%;

}

#mainContainer .graph-border {
  margin-top: 4%;
}

#mainContainer .graphContainer #graph1 {
  height: 90%;
  width: 50%;
  padding-left: 4em;
  padding-top: 2.5em;
  background-color: #E9EB87;
  float: left;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer #graph2 {
  height: 90%;
  width: 50%;
  padding-left: 4em;
  padding-top: 2.5em;
  background-color: #9FE398;
  float: left;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer #graph3 {
  height: 90%;
  width: 50%;
  padding-left: 4em;
  padding-top: 2.5em;
  background-color: #67EEE4;
  float: left;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer #graph4 {
  height: 90%;
  width: 50%;
  padding-left: 4em;
  padding-top: 2.5em;
  background-color: #E7B2D9;
  float: left;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer .filter {
  width: 30%;
  height: 90%;
  padding: 2em;
  background-color: #5BBA6F;
}

#mainContainer .graphContainer #filter1 {
  background-color: #F3F4C0;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer #filter2 {
  background-color: #5BBA6F;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer #filter3 {
  background-color: #BDFFFD;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer #filter4 {
  background-color: #B48EAE;
  margin: 0.5em;
  border-radius: 1em;
}



#mainContainer .graphContainer .textContainer {
  float: left;
  padding: 1em;
  /* margin-left: 5%; */
  /* margin-top: 3%; */
  /* background-color: #3FA34D; */
  height: 90%;
  width: 23%;
}


#mainContainer .graphContainer #textC1{
  background-color: #F0F1AE;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer #textC2{
  background-color: #3FA34D;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer #textC3{
  background-color: #9FFFF5;
  margin: 0.5em;
  border-radius: 1em;
}

#mainContainer .graphContainer #textC4{
  background-color: #A1869E;
  margin: 0.5em;
  border-radius: 1em;
}

p{
  padding: 0.25em;
  border: 4px solid #8F8F8F;
  border-radius: 1em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h4{
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

#display1, #display2, #display3, #display4{
  padding-left: 4.5em;
}

#display-filter1, #display-filter2, #display-filter3, #display-filter4{
  margin-top: 2em;
  padding: 0.5em;
  border: 2px solid #8F8F8F;
  border-radius: 0.5em;
}

/* end */
